*{
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: var(--bs-font-sans-serif);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent
}


.text-center {
    text-align: center !important;
}
.py-5 {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}
.px-4 {
    padding-right: 10px !important;
    padding-left: 10px !important;
}
.my-5 {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}


.fw-bold {
    font-weight: 700 !important;
}
@media (min-width: 1200px) {
    .display-5 {
        font-size: 3rem;
    }
}


.display-5 {
    font-size: calc(1.425rem + 2.1vw);
    font-weight: 300;
    line-height: 1.2;
}
@media (min-width: 1200px) {
    .h1, h1 {
        font-size: 2.5rem;
    }
}
.h1, h1 {
    font-size: calc(1.375rem + 1.5vw);
}

.b-example-divider {       
    height: 100vh;
    padding-bottom: 50px;
    background-color: #fff;
    border-top: solid rgba(0, 0, 0, .15);
    border-width: 2px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, 0), inset 0 .125em .5em rgba(0, 0, 0, 0);
    
} 
   

.mb-3 {
    margin-bottom: 1rem !important;
}
.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 40px;
    list-style: none;
    justify-content: center;
}
dl, ol, ul {
    margin-top: 0;
    margin-bottom: 1rem;
}
ol, ul {
    padding-left: 2rem;
}

.tab-pane img{
    
    margin-top: 50px;
}

.tab-pane p{
    margin-top: 110px;
    font-size: 1.25rem;
    font-weight: 300;
}
.tab-pane.fade.show.active {
    display: block;
  
}

/* .info-p {
    margin-top: 50px;
    font-size: 1.25rem;
    font-weight: 300;
} */




 .tab-pane img {
    background: #d2d5da;
    padding: 30px;
   
 }

.tab-pane{
    margin-bottom: px;
} 
 
.d-flex{
    display: grid;
    align-items: center;
}


footer {
    /* background-color: #044494;
    padding: 10px; */
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #044494;
    text-align: center;
    padding: 10px 0;
  }
  
  
  .footer-item {
    color: #fff;
    font-size: 1.25rem;
    font-weight: 300;
    padding: 10px;
    text-align: center;
  }

  p{
    margin-right: 40px;
  }


   /* Formulário  */


 .forms{
    display: grid;
    background: #f9fafa;
    justify-content: center;
    max-width: 500px;
    margin: 20px 20px 20px 20px;
    border: solid 3px #044494;
    padding: 20px;
    border-radius: 5px;
}
.d-flexd{
    display: grid;
    justify-content: center;
}
 



 .forms h1{
    color: #044494;
    margin-top: 0;
 }



 /* base de dados */


 main{
    width: 97vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.gridprincipal{
    display: grid;
    grid-template-columns: 1fr 1fr;
}


a{
    font-size: 20px;
    text-decoration: none;
    color: white;
    margin-left: 150px;
}


.grid01{
    width: 100%;
    display: block;
    grid-template-columns: 1fr;
    gap: 10px;
    
}



.sobreabase{
    background-color: rgb(255, 255, 255);
    width: auto;
    border-radius: 20px;
    height: 300px;
    color: rgb(2, 2, 2);
       
}

.sobreabase p{
    margin: 30px;
}

h2{
    font-size: 1.5rem;
    text-align: justify;
    margin: 30px;
    padding-top: 20px;
    font-size: 24px;
    margin-top: 5px
}

h3{
    font-size: 10px;
    color: rgb(2, 2, 2);
    margin: 30px;
}


p{
    text-align: justify;
    margin: 20px;
    margin-top: 20px;
    font-size: 1.3rem;
}

.grid02{
    width: 97vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  

}


.infodabase{
    background-color: gray;
    border-radius: 20px;
    color: white;
  
}

span{
    color: rgb(8, 44, 154);
}

.des{
    color: white;
    background-color: gray;
    border-radius: 20px;
  
   
    
}

.tags{
    color: white;
    background-color: gray;
   
    

}

 .infobase, .des, .tags{
    width: 100%;
    height: 25rem;
 
} 


.d-flexd{
    margin: 10px;
}